@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 41px;
  letter-spacing: -2px;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  background-color: white;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  flex-wrap: wrap;
}

header {
  width: 80vw;
  height: 100vh;
}

main {
  width: 80vw;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 2rem;
  letter-spacing: normal;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 34px;
  line-height: 48px;
}

.underline-medium {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background: linear-gradient(
    90.33deg,
    #b5c5c5 43.34%,
    rgba(181, 197, 197, 0) 121.48%
  );
}

.underline-small {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background: linear-gradient(
    90.33deg,
    #b5c5c5 43.34%,
    rgba(181, 197, 197, 0) 121.48%
  );
  font-weight: 300;
}

a:hover {
  color: rgba(149, 164, 176, 0.854);
}

/* NAVBAR */

.main-nav {
  display: flex;
  gap: 7rem;
  align-items: center;
  padding: 3rem 0 0 0;
}

.push {
  margin-right: auto;
  padding-top: 5px;
}

/* -------------------------------- */

/* INTRODUCTION */

.introduction-flex {
  padding-top: 8rem;
}

.introduction-items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.profile_pic {
  padding-right: 5rem;
}
.introduction-items > article {
  width: 46rem;
}

.introduction-items > article > h2 {
  height: 165px;
  font-size: 50px;
  line-height: 68px;
}

.introduction-items > article > p {
  letter-spacing: 0px;
  font-size: 34px;
}

.portfolio-section {
  height: 12rem;
  padding-top: 6rem;
}

.portfolio-section > h3 {
  font-size: 35px;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.4);
}

/* ================================================================= */

/* Projects */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.project-scroll {
  scroll-snap-align: start;
}

.main h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 100px;
  line-height: 148px;
  color: rgba(0, 0, 0, 0.15);
}

.main h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 55px;
  line-height: 75px;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 2rem;
}

.main p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0px;
  padding-bottom: 2rem;
}

.project-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  padding-top: 5rem;
}

.project-1 img {
  height: 959px;
  width: 836px;
  margin: -3rem;
}

.project-1 section {
  padding-right: 2rem;
}

.project-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding-top: 10rem;
  background-color: #f9f9f9;
}

.project-2 img {
  width: 894px;
  height: 676px;
}

.project-2 section {
  padding-top: 3rem;
}

.project-3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  padding-top: 10rem;
}

.project-3 img {
  height: 715px;
  width: 993px;
  margin: -9rem;
  padding-left: 2rem;
  padding-top: 8.5rem;
}

.project-4 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  height: 100vh;
  padding-top: 10rem;
  background-color: #f9f9f9;
}

.project-4 img {
  width: 725px;
  height: 415.43px;
  padding-top: 9rem;
}

.project-4 section {
  padding-top: 7rem;
}

.project-5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  padding-top: 10rem;
}

.project-5 img {
  width: 753px;
  height: 436px;
  padding-top: 2.5rem;
}

/* BUTTON STYLING */

.project-1 a,
.project-2 a,
.project-3 a,
.project-4 a,
.project-5 a {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  color: #000000;
}

.center-style-btn:hover {
  cursor: pointer;
  background-color: rgba(240, 240, 232, 0.869);
}

.center-btn {
  display: flex;
  justify-content: center;
}
.center-style-btn {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid black;
  width: 231px;
  height: 59px;
  border: 1px solid #727e80;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  align-items: center;
}

/* -------------------------------- */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 20vh;
}

/* MEDIA QUERYES  */

@media (max-width: 800px) {
  .flexbox {
    background-color: #727e80;
  }
}
