@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

// VARIABLES
$bg-color-white: #ffffff;
$text-color-black: #000000;
$background-gradient: linear-gradient(
  90.33deg,
  #b5c5c5 43.34%,
  rgba(181, 197, 197, 0) 121.48%
);
$button-hover-color: #f0f0e8de;

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 41px;
  letter-spacing: -2px;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  background-color: $bg-color-white;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  flex-wrap: wrap;
}

header {
  width: 80vw;
  height: 100vh;
}

main {
  width: 80vw;
}

ul {
  text-decoration: none;
  list-style-type: none;
  color: $text-color-black;
  font-size: 2rem;
  letter-spacing: normal;
}

ol {
  color: $text-color-black;
  font-size: 2rem;
  letter-spacing: normal;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: $text-color-black;
  font-size: 2rem;
  letter-spacing: normal;

  //NESTING a:hover using "&", referring to parent selector
  &:hover {
    color: rgba(149, 164, 176, 0.854);
  }
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 68px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 34px;
  line-height: 48px;
}

.underline-medium {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background: $background-gradient;
}

.underline-small {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background: $background-gradient;
  font-weight: 300;
}

/* NAVBAR */

.main-nav {
  display: flex;
  gap: 7rem;
  align-items: center;
  padding: 3rem 0 0 0;
}

.push {
  margin-right: auto;
  padding-top: 5px;
}

/* -------------------------------- */

/* INTRODUCTION */

.introduction-flex {
  padding-top: 8rem;
}

.introduction-items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.profile_pic {
  padding-right: 5rem;
}
.introduction-items > article {
  width: 46rem;
}

.introduction-items > article > h2 {
  height: 165px;
  font-size: 50px;
  line-height: 68px;
}

.introduction-items > article > p {
  letter-spacing: 0px;
  font-size: 34px;
}

.portfolio-section {
  height: 12rem;
  padding-top: 6rem;

  &h3 {
    font-size: 35px;
    line-height: 48px;
    color: $text-color-black;
  }
}

/* ================================================================= */

/* Projects */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 100px;
    line-height: 148px;
    color: $text-color-black;
  }

  h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 75px;
    color: $text-color-black;
    padding-bottom: 2rem;
  }

  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: $text-color-black;
    letter-spacing: 0px;
    padding-bottom: 2rem;
  }
}

.project-scroll {
  scroll-snap-align: start;
}

.project-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  padding-top: 5rem;

  img {
    height: 959px;
    width: 836px;
    margin: -3rem;
  }

  section {
    padding-right: 2rem;
  }
}

.project-2-container {
  background-color: #f9f9f9;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.project-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 68vw;
  padding-top: 10rem;

  img {
    width: 894px;
    height: 676px;
  }

  section {
    padding-top: 3rem;
  }
}

.project-3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  padding-top: 10rem;

  img {
    height: 715px;
    width: 993px;
    margin: -9rem;
    padding-left: 2rem;
    padding-top: 8.5rem;
  }
}

.project-4-container {
  background-color: #f9f9f9;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.project-4 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 68vw;
  height: 100vh;
  padding-top: 10rem;

  img {
    width: 725px;
    height: 415.43px;
    padding-top: 9rem;
  }

  section {
    padding-top: 7rem;
  }
}

.project-5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  padding-top: 10rem;

  img {
    width: 753px;
    height: 436px;
    padding-top: 2.5rem;
  }
}

/* BUTTON STYLING */

.project-1,
.project-2,
.project-3,
.project-4,
.project-5 {
  a {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    color: $text-color-black;
  }
}

.center-btn {
  display: flex;
  justify-content: center;
}
.center-style-btn {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid $text-color-black;
  width: 231px;
  height: 59px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: $button-hover-color;
  }
}

/* -------------------------------- */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 20vh;
}

/* ANIMATIONS */

.animated-img {
  opacity: 0;
  transform: translateX(500px);
  transition: all 500ms ease-in-out;
}

.left {
  opacity: 0;
  transform: translateX(-500px);
  transition: all 500ms ease-in-out;
}

.fade {
  opacity: 1;
  transform: translateX(0px);
}

/* MEDIA QUERY */

// if window screen is <= 800px DO {....}
@media only screen and (max-width: 800px) {
  .flexbox {
    background-color: #727e80;
  }
}
